@using Business.Models
@model IEnumerable<FlightModel>

@{
    var title = "Flights";
    ViewData["Title"] = title;
}

<div class="row">
    <div class="col-8 offset-2 d-flex flex-column gap-3">
                        @if (!(TempData[Constants.SuccessFieldName] is null))
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
  @TempData[Constants.SuccessFieldName]
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
}
        <h2>@title</h2>
        @foreach(var flight in Model)
        {
            <div class="card">
  <div class="card-body">
    <h5 class="card-title d-flex justify-content-between">
        <span><a title="to flight page" asp-action="Details" asp-route-id="@flight.Id">Flight: @flight.Id</a></span>
        <span>
            <a class="btn btn-primary btn-sm" title="edit" asp-action="Edit" asp-route-id="@flight.Id">Edit</a>
            <a class="btn btn-danger btn-sm" title="delete" asp-action="Delete" asp-route-id="@flight.Id">Delete</a>
        </span>
    </h5>
    <p class="card-text">Destination: @flight.To<br />
        Date: @flight.Date<br />
        <a title="Plane" asp-controller="Planes" asp-action="Details" asp-route-id="@flight.PlaneId">Plane</a><br />
        <a title="Terminal" asp-controller="Terminals" asp-action="Details" asp-route-id="@flight.TerminalId">Terminal</a></p>
  </div>
</div>
        }
        <div class="d-grid">
  <a class="btn btn-primary" title="add" asp-action="Create">Add</a>
</div>
    </div>
</div>
