@using Business.Models
@model TicketModel

@{
    ViewData["Title"] = $"Ticket {Model.Code}";
}

<div class="row py-3">
    <div class="col-8 offset-2">
                @if (!(TempData[Constants.SuccessFieldName] is null))
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
  @TempData[Constants.SuccessFieldName]
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
}
    <h5 class="d-flex justify-content-between">
        <span>Ticket: @Model.Code</span>
        <span>
            <a class="btn btn-primary" title="edit" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
            <a class="btn btn-danger" title="delete" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
        </span>
    </h5>
@{var price = $"{Model.Price:F2}";}
    <p>Price: @price UAH<br />
        Type: @Model.Type<br />
        <a title="Passenger" asp-controller="Passengers" asp-action="Details" asp-route-id="@Model.PassengerId">Passenger</a><br />
        <a title="Flight" asp-controller="Flights" asp-action="Details" asp-route-id="@Model.FlightId">Flight</a></p>
            <div>
    <a class="btn btn-primary" href="javascript:history.go(-1)" title="go back">Back</a>
  </div>
  </div>
</div>
