@using Business.Models
@model IEnumerable<TicketModel>

@{
    var title = "Tickets";
    ViewData["Title"] = title;
}

<div class="row">
    <div class="col-8 offset-2 d-flex flex-column gap-3">
                        @if (!(TempData[Constants.SuccessFieldName] is null))
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
  @TempData[Constants.SuccessFieldName]
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
}
        <h2>@title</h2>
        @foreach(var ticket in Model)
        {
            <div class="card">
  <div class="card-body">
    <h5 class="card-title d-flex justify-content-between">
        <span><a title="to visa page" asp-action="Details" asp-route-id="@ticket.Id">Ticket: @ticket.Code</a></span>
        <span>
            <a class="btn btn-primary btn-sm" title="edit" asp-action="Edit" asp-route-id="@ticket.Id">Edit</a>
            <a class="btn btn-danger btn-sm" title="delete" asp-action="Delete" asp-route-id="@ticket.Id">Delete</a>
        </span>
    </h5>
                    @{
                        var price = $"{ticket.Price:F2}";
                    }
    <p class="card-text">Price: @price UAH<br />
        Type: @ticket.Type<br />
        Passenger Id: @ticket.PassengerId<br />
        Flight Id: @ticket.FlightId</p>
  </div>
</div>
        }
        <div class="d-grid">
  <a class="btn btn-primary" title="add" asp-action="Create">Add</a>
</div>
    </div>
</div>
